/*---------------------------------------
# Rewards
---------------------------------------*/

/* * * * * * * * * * * * * * * * * * * * 
 *  Mobile +
 * * * * * * * * * * * * * * * * * * * */

.business-portal-container {
  position: relative;
  box-sizing: border-box;
  padding-top: 42px;
  min-height: 100vh;
  min-width: 100%;
  @include display(flex);
  @include flex-direction(column);
}