/*---------------------------------------
# Header
---------------------------------------*/

/* * * * * * * * * * * * * * * * * * * * 
 *  Mobile +
 * * * * * * * * * * * * * * * * * * * */

.header {
	position: absolute;
	left: 0;
	top: 0;
	@include display(flex);
	@include justify-content(space-between);
	@include align-items(center);
	box-sizing: border-box;
	height: 42px;
	width: 100%;
	background-color: $white;
	color: $lime;
}

.header--logo-container {
	box-sizing: border-box;
	height: 100%;
	padding: 8px;
}

.header--logo {
	height: 100%;
	width: auto;
	display: inline-block;
	fill: $lime;
}

.header--business {
	margin-right: 24px;
	text-transform: capitalize;
}

.header--thumbnail {
	display: inline-block;
	height: 28px;
	// padding-bottom: 4px;
	margin-right: 8px;
	vertical-align: middle;
}

/* * * * * * * * * * * * * * * * * * * * 
 *  Tablet +
 * * * * * * * * * * * * * * * * * * * */
@media screen and (min-width: $tablet-size) {

}

/* * * * * * * * * * * * * * * * * * * * 
 *  Small Screen +
 * * * * * * * * * * * * * * * * * * * */
@media screen and (min-width: $small-screen-size) {

}