/*---------------------------------------
# Rewards
---------------------------------------*/

/* * * * * * * * * * * * * * * * * * * * 
 *  Mobile +
 * * * * * * * * * * * * * * * * * * * */

.rewards {
  @include display(flex);
  @include flex-direction(column);
  width: 100%;
  height: 100%;
  background-color: $gray-tint-3;
}

.rewards-header {
  display: none;
}

.rewards-list {
  @include flex(1);
  overflow: auto;
  padding: 4px 0px;
  margin: 0px;
}

.rewards-item {
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 0px $black-30;
  @include display(flex);
  @include justify-content(left);
  @include align-items(center);
  background-color: $white;
  margin: 0px 4px 4px;
  transition: box-shadow      .3s,
              opacity         .2s;
}

.rewards-item:last-child {
  margin-bottom:0px;
}

.rewards-item.updating {
  opacity: .5;
}

.rewards-item.selected {
  z-index: 1;
  box-shadow: 0px 0px 4px 0px $black-30;
}

.rewards-item--icon {
  padding: 16px;
  width: 64px;
  height: 64px;
}

.rewards-item--information {
  box-sizing: border-box;
  @include flex(1);
  padding: 16px;
  text-align: justify;
}

.rewards-item--title {
  display: inline-block;
  margin-bottom: .5em;
  width: 100%;
  color: $black;
}

.rewards-item--points {
  display: inline-block;
  width: 30%;
  min-width: 64px;
  margin: 0px;
  margin-right: 4%;
  text-align: left;
  color: $lime;
  fill: $lime;
}

.rewards-item--points-icon {
  height: 1.2em;
  width: 1.2em;
  vertical-align: middle;
  margin-right: .2em
}

.rewards-item--price {
  display: inline-block;
  width: 30%;
  min-width: 64px;
  margin: 0px;
  text-align: left;
  color: $gray-shade-2;
  fill: $gray-shade-2;
}

.rewards-item--price-icon {
  height: 1.2em;
  width: 1.2em;
  vertical-align: middle;
}

.rewards-item-actions {
  padding: 16px;
  @include align-self (stretch);
  @include display (flex);
  @include flex-direction (column);
  @include justify-content (space-around);
}

.rewards-item.updating .rewards-item-actions--action {
  visibility: hidden;

}

.rewards-item-actions--action {
  display: block;
  width: $icon-medium;
  height: $icon-medium;
  fill: transparent;
  cursor: pointer;
  transition: fill        .2s;
}

.rewards-item:hover .rewards-item-actions--action,
.rewards-item.selected .rewards-item-actions--action {
  fill: $gray-shade-2;
}

.rewards-item .rewards-item-actions--action:hover {
  fill: $potential-color;
}

.rewards-item .rewards-item-actions--action.delete:hover {
  fill: $failure-color;
}



/* * * * * * * * * * * * * * * * * * * * 
 *  Small Screen +
 * * * * * * * * * * * * * * * * * * * */
@media screen and (min-width: $small-screen-size) {
  .rewards {
    width: 480px;
  }

  .rewards-header {
    display: block;
    background-color: $lime-shade-1;
    padding: 12px 0px 8px;
    text-align: center;
    color: $white;
    margin: 0px;
  }

  .rewards-header--icon {
    display: inline-block;
    fill: $white;
    height: 1.2em;
    width: 1.2em;
    margin-bottom: 4px;
    margin-right: .6em;
    vertical-align: middle;
  }
}