/*---------------------------------------
# Rewards Form
---------------------------------------*/

/* * * * * * * * * * * * * * * * * * * * 
 *  Mobile +
 * * * * * * * * * * * * * * * * * * * */

.rewards-form {
  box-sizing: border-box;
  @include display(flex);
  @include align-items(top);
  padding: 16px;
  background-color: $white;
  margin-bottom: 4px;
}

.rewards-form.main {
  border-top: 4px solid $lime-tint-1;
}

.rewards-form--inputs {
  @include flex(1);
}

.rewards-form--name {
  width: 100%;
  margin-bottom: 1em;
}

.rewards-form--row {
  @include display(flex);
  @include align-items(center);
}

.rewards-form--points-icon,
.rewards-form--price-icon {
  height: $icon-medium;
  width: $icon-medium;
  fill: $gray-tint-3;
  margin: 0px .6em;
  transition: fill      .2s;
}

.rewards-form--points-icon {
  margin-left: 0px;
}

.rewards-form--points,
.rewards-form--price {
  @include flex-grow(1);
  width: 40%;
  margin: 0px;
}

.rewards-form--points input,
.rewards-form--price input {
  width: 100%;
}

.rewards-form-actions {
  margin-left: 16px;
  margin-top: 12px;
}

.rewards-form-actions--action {
  display: block;
  width: $icon-medium;
  height: $icon-medium;
  fill: $gray-shade-2;
  transition: fill        .2s;
  margin-bottom: 12px;
}

.rewards-form-actions--action:last-child {
  margin-bottom: 0px;
}

.rewards-form-actions--action:hover {
  fill: $potential-color;
}

.rewards-form-actions--action.cancel:hover {
  fill: $failure-color;
}

/* * * * * * * * * * * * * * * * * * * * 
 *  Tablet +
 * * * * * * * * * * * * * * * * * * * */
@media screen and (min-width: $tablet-size) {

}