/*---------------------------------------
# Rewards
---------------------------------------*/

/* * * * * * * * * * * * * * * * * * * * 
 *  Mobile +
 * * * * * * * * * * * * * * * * * * * */

.stats {
  display: block;
  @include display(flex);
  @include flex-direction(column);
  @include align-items (flex-start);
  @include flex(1);
  padding: 8px;
}

.stats-header {
  
}

.stats-card {
  @include display(flex);
  @include align-items(center);
  margin-bottom: 16px;
  background-color: $lime;
  color: $white;
  fill: $white;
}

.stats-card--actions {
  @include display(flex);
  @include justify-content(center);
  @include flex-direction(column);
  padding: 32px;
  background-color: $white;
  @include align-self(stretch);
}

.stats-card--action {
  display: block;
  width: $icon-medium;
  height: $icon-medium;
  margin-bottom: 16px;
  fill: $gray-shade-2;
  transition: fill        .3s;
}

.stats-card--action:last-child {
  margin-bottom: 0px;
}

.stats-card--action.cancel:hover {
  fill: $failure-color;
}

.stats-card--action:hover {
  fill: $potential-color;
}

.stat {
  padding: 32px;
  text-align: center;
  display: inline-block;
}

.stats-icon {
  height: $icon-xlarge;
  width: $icon-xlarge;
}

.stat--value {
  font-size: 32pt;
  margin-bottom: 1em;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.stat--title {
  font-size: 11pt;
  margin-bottom: 0px;
}

.stat-form {
  padding: 32px 0px 32px 32px;
  background-color: white;
  text-align: center;
  text-align: center;
  color: $gray-shade-2;
}

.stat-form--title {
  margin: 1em 0px 0px;
}

/* * * * * * * * * * * * * * * * * * * * 
 *  Tablet +
 * * * * * * * * * * * * * * * * * * * */

@media screen and (min-width: $tablet-size){
  .stats {
    padding: 16px
  }
}

/* * * * * * * * * * * * * * * * * * * * 
 *  Small Screen +
 * * * * * * * * * * * * * * * * * * * */

@media screen and (min-width: $small-screen-size){
  .stats {
    padding: 16px
  }
}