/*---------------------------------------
# Button
---------------------------------------*/

.error {
  box-sizing: border-box;
  padding: .7px 1em;
  color: $failure-color;
  font-size: .8em;
  animation-duration: .2s;
  animation-name: error-fade-in;
}

.error a {
  text-decoration: underline;
}

@keyframes error-fade-in {
  from {
    opacity: 0;
    padding: 0px 1em;
    max-height: 0px;
  }

  to {
    opacity: 1;
    padding: .7px 1em;
    max-height: 100px;
  }
}